/* Default styles */

body {
	margin:0 ;
	height: 100%;
}

a {
text-decoration: none;
color: #89EEFE;
}

.fullimagewraphome {
	background: url('/images/novlrbackgroundlight.jpg');
	background-size: cover;
	position: absolute;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
}

.fullimagewrapfeatures {
	background: url('/images/featuresbackgroundlight.jpg');
	background-size: 138%;
	height: 30em;
	background-position-y: 82%;
	background-position-x: 30%;
}

.fullimagewrapabout {
	background: url('/images/aboutbackgroundlight2.jpg');
	background-size: 100%;
	background-position-y: 73%;
	background-repeat: no-repeat;
	background-position-x: 23%;
	height: 30em;
}

.fullimagewrappricing {
	background: url('/images/pricingbackgroundlight.jpg');
	background-size: 138%;
	background-position: 46% 23%;
	background-repeat: no-repeat;
	height: 30em;
}

/* HEADER */

header {
	height:2em;
	/* border-bottom:1px solid #d9d9d9
 */}
header .wrapper {
	width: 90%;
	margin:0 auto;
	padding-top:10px;
}
header img {
	float:left;
	width: 165px;
	padding-top: 0px;}
/* MENU */
.menu {
	float:right;
	width:auto;
	
	margin-right: 2%;
}

.menu ul {	
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	margin-top: 0.5em;
}

.menu ul li {
	display:inline;
	padding: 8px 20px;
}
.menu ul li a {
	color: #fff;
	text-decoration:none;
	font-family: Roboto;
	font-size: 1.4em;
	font-weight: lighter;
}
.menu ul li a:hover {
	color:#89EEFE;
}

/* homepage */

.fullimagewraphome footer {
	/* display:none; */
	position: absolute;
	background: none;
	bottom: 0;
}

.fullimagewraphome .container .main {
	float: left;
	position: absolute;
	bottom: 1em;
	width: 30%;
	right: 7em;
}



.container.main a.button {
	font-family: Roboto;
	text-decoration: none;
	color: #fff;
	padding: 10px 40px 10px;
	margin-top: 30px;
	background: none;
	font-weight: 300;
	font-size: 0.8em;
	text-transform: uppercase;
}


h1 {
	font-family: Roboto;
	font-weight: 100;
	font-size: 4em;
	width: 100%;
	text-align: center;
	padding: 0em 0 0.5em;
	margin: 12% 0 0 0;
	color: #FFF;
}

.fullimagewrapfeatures h1 {
margin: 15% 0 0 0;
}


.intro-box h1 {
margin-top: 27%;
line-height: 1em;
font-size: 3em;
text-align: left;
padding: 0;
margin-bottom: 0.1em;
}

.intro-box h2 {
color: #FFF;
font-weight: 100;
margin-top: 0em;
padding-left: 0.1em;
margin-bottom: 0.2em;
line-height: 1em;
}

.container.main .intro-box a{
background: #89EEFE;
}
.container.main .intro-box a:hover {
background: #444;
}

/* BODY */

/* .container {
	width: 100%;
	height: 100%;
}*/

.container .wrapper {
	margin: 0 auto;
	padding: 3% 8%;
	font-size: 1.3em;
	font-family: Oxygen;
	font-weight: lighter;
	color: #444;
	line-height:1.4em;
}

.fullimagewraphome .container .wrapper {
	padding: 3% 6%;
}


.intro-box {
text-align: left;
line-height: 3em;
margin: 0 auto;
}

.next_page {
	margin: 5em 0 0;
	overflow:hidden;
}

.next_page a {
	float:right;
	color: #444;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 2em;
}

.next_page a:hover {
	color: #89eefe;
}


/* Headers and paragraphs */


/* About page */

.product_example img {
	width: 100%;
	border: 1px solid #ddd;
}

.product_example h2 {
	margin: 3em 0 2em;
}




/* FOOTER */

footer {
	height: 2.5em;
	background: #444;
	color: #FFF;
	font-family: oxygen;
	width: 100%;
	position: absolute;
	padding: 0.5em 0 0;
}

footer p {
	margin: 0 auto;
	padding: 0.5em 0 1em 4em;
	height: 1em;
	font-size: 0.9em;
	font-family: Roboto;
	font-weight: lighter;
	float: left;
}

.fullimagewraphome footer {
	position: absolute;
	background: none;
}

.socmedia {
	margin-left: 4em;
	float: left;
}

.socmediafacebook {
	float: left;
	padding-left: 0.3em;
}



.fullimagewraphome footer p {
	display: none;
}


.socmediatwitter {
	float: left;
	padding-left: 0.5em;
}

.tryit {
width: 6em;
margin: 0 auto;
border: 2px solid #FFF;
padding: 1em 4em;
text-transform: uppercase;
color: #FFF;
font-family: Roboto;
}

.tryit:hover {
background: #FFF;
color: #000;
}

/* MEDIA QUERY STUFF */

@media (min-width: 1700px) {
	h1 {
	margin-top: 15%;
	}
}