/* Default styles */

html {
height: 100%;
}
body {
	margin:0 ;
	height: 100%;
}

a {
text-decoration: none;
color: #ABD1E2;
}

h2 {
font-weight: 100;
}

.fullimagewraphome {
	background: url('/images/cafetwo1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	background-position-x: -69px;
	background-color: #272933;
}

.fullimagewrapfeatures {
	background: #272933;
	background-size: 138%;
	height: 30em;
	background-position-y: 82%;
	background-position-x: 30%;
}

.fullimagewrapabout {
	background: #272933;
	background-size: 100%;
	background-position-y: 73%;
	background-repeat: no-repeat;
	background-position-x: 23%;
	height: 30em;
}

.fullimagewrappricing {
	background: url('/images/pricingbackgroundlight.jpg');
	background-size: 138%;
	background-position: 46% 23%;
	background-repeat: no-repeat;
	height: 30em;
}

/* HEADER */

header {
height: 6em;
background: #272933;
}
header .wrapper {
	width: 90%;
	margin:0 auto;
	padding-top:15px;
}
header img {
	float:left;
	width: 165px;
	padding-top: 0px;
	}
	
/* MENU */
.menu {
	float:right;
	width:auto;
	margin-top: 10px;
	margin-right: 2%;
}

.menu ul {	
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	margin-top: 0.5em;
}

.menu ul li {
	display:inline;
	padding: 8px 20px;
}
.menu ul li a {
	color: #fff;
	text-decoration:none;
	font-family: Roboto;
	font-size: 1.4em;
	font-weight: lighter;
}

.menu ul li a:hover {
color:#ABD1E2;
}

/* homepage */

.fullimagewraphome footer {
	/* display:none; */
	bottom: 0;
	position: fixed;
}

.fullimagewraphome .container .main {
	float: left;
	position: absolute;
	bottom: 1em;
	width: 30%;
	right: 7em;
}



.container.main a.button {
	font-family: Roboto;
	text-decoration: none;
	color: #fff;
	padding: 13px 70px 15px;
	margin-top: 37px;
	background: none;
	font-weight: 300;
	font-size: 0.8em;
	text-transform: uppercase;
	margin-right: 62px;
}


h1 {
	font-family: Roboto;
	font-weight: 100;
	font-size: 4em;
	width: 100%;
	text-align: center;
	padding: 0em 0 0.5em;
	margin: 7% 0 0 0;
	color: #fff;
}

.fullimagewrapfeatures h1 {
margin: 7% 0 0 0;
}


.intro-box h1 {
margin-top: 3%;
line-height: 1em;
font-size: 2em;
text-align: right;
padding: 0;
margin-bottom: 20px;
/* display: none; */
}

.intro-box h2 {
color: #fff;
font-weight: 100;
margin-top: 0em;
padding-left: 0.1em;
margin-bottom: 0.2em;
line-height: 1em;
display: none;
}

.container.main .intro-box a{
color: #fff;
border: 1px solid #fff;
}
.container.main .intro-box a:hover {
background: #fff;
color: #444;
/* font-weight: bold; */
border: 1px solid white;
}

/* BODY */

/* .container {
	width: 100%;
	height: 100%;
}*/

.container .wrapper {
	margin: 0 auto;
	padding: 3% 8%;
	font-size: 1.3em;
	font-family: Roboto;
	font-weight: lighter;
	color: #444;
	line-height:1.4em;
}

.fullimagewraphome .container .wrapper {
	padding: 8% 6% 3% 18%;
}


.intro-box {
text-align: right;
line-height: 3em;
margin: 0 auto;
}

.next_page {
	margin: 5em 0 0;
	overflow:hidden;
}

.next_page a {
	float:right;
	color: #444;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 2em;
}

.next_page a:hover {
color:#ABD1E2;
}


/* Headers and paragraphs */


/* About page */

.product_example img {
	width: 100%;
	border: 1px solid #ddd;
}

.product_example h2 {
	margin: 3em 0 2em;
}




/* FOOTER */

footer {
	height: 2.5em;
	color: #FFF;
	font-family: oxygen;
	width: 100%;
	position: relative;
	padding: 0.5em 0 0;
	bottom: 0;
	background: #272933;
}

footer p {
	margin: 0 auto;
	padding: 0.5em 0 1em 4em;
	height: 1em;
	font-size: 0.9em;
	font-family: Roboto;
	font-weight: lighter;
	float: left;
}


.socmedia {
	margin-left: 4em;
	float: left;
}

.socmediafacebook {
	float: left;
	padding-left: 0.3em;
}



.fullimagewraphome footer p {
	display: none;
}

.fullimagewraphome footer {
	background: none;
	}

.socmediatwitter {
	float: left;
	padding-left: 0.5em;
}

.tryit {
width: 9em;
margin: 0 auto;
border: 2px solid #FFF;
padding: 1em 4em;
text-transform: uppercase;
color: #FFF;
font-family: Roboto;
}


.tryit:hover {
background: #FFF;
color: #444;
}

.fullimagewrap404  {
background: #444;
width: 100%;
height: 100%;
position: absolute;
}

.fullimagewrap404 .intro-box {
margin: 20% auto 0;
}

.fullimagewrap404 .intro-box h2 {
line-height: 1.2em;
}

header img {
margin-top: 0.5em;
}

/* MEDIA QUERY STUFF */

@media (min-width: 1700px) {
	h1 {
	margin-top: 12%;
	}
}