h2 Why is Novlr the best way to write a novel?

p. Quite simply because we've made it the easiest place to do it. Writing a novel is hard enough. Why spend time worrying about: 
ul
	li Whether you've saved your last draft
	li Where to jot down that inspired idea about your protagonist's untimely demise
	li What to do if you didn't take your laptop to Thailand, but it's raining and you want to write while you wait for the sun to return

p. Novlr is where your novel lives: safe, uncluttered and accessible from anywhere. Novlr takes care of all the logistical bits of writing a novel, just leaving that small matter of the words...to you.


.product_example
	h2 Have a look at what's coming...

	img(src='images/nov-wireTM.jpg')

.next_page
	a(href='/features') See our exciting features >>
	
	