
	
.feature1
	h2 Find it difficult to focus? Not anymore.
	p. Novlr will put the focus on your words, stripping back the options and giving you a nice clean space to write. It'll just feel nice to write on it.
	img

.feature2
	h2 You won't lose work. Ever.
	p. Novlr will save your work every couple of seconds so you don't even have to think about it. No more of the nightmares we all recognise.
	img

.feature3
	h2 Forgot your laptop? Not a problem
	p. Novlr is web based, so you can access it from any computer, tablet, or phone with internet access. You don't need to carry it with you anymore.
	img

.feature4
	h2 Keep changing your mind? Change is good.
	p. It takes a long time to get a novel right. We're making chapter organisation simple so you can change things around easily, and quickly add new ones.
	img

.feature5
	h2 Bring your characters to life. They deserve it.
	p. No change in circumstances can repair a defect in character. So said Ralph Waldo Emerson. Novlr agrees and we're giving each character a profile page: take notes; upload images and videos: give them a back story.
	img

.features6
	h2 Find it hard to keep motivated? Let us help.
	p. Sometimes we all need a bit of carrot or stick ot get words on the page. Set yourself word count targets and setup reminder emails. We'll also celebrate each goal you achieve with you (maybe even with animated gifs).
	img

.features7
	h2 Needing a second opinion? Just ask.
	p. It can be tempting to keep your words close to your chest, but feedback is so valuable. Share chapters, or your whole book, with friends and let them comment directly.
	img

.features8
	h2 Hate it when you get locked in? So do we.
	p. We want you to use Novlr because it's the best tool, not because we've locked you in. So, you'll be able to export your work at any time into a range of formats - Word, Pdf etc.


