p. Quite simply because we've made it the easiest place to do it. Writing a novel is hard enough. Why spend time worrying about whether you've saved your last draft; where to capture that inspired idea about your protagonists untimely demise; whether you can keep writing on the tablet your auntie Agatha splashed out on for your Christmas present?

p. One place where your novel lives: safe, secure and easily accessible. Novlr makes it easy to organise chapters; easy to build character profils; easy to capture notes, thoughts, ideas; easy to share and get feedback and don't worry, we make it easy to export and

p. Just leaving the small matter of the words...to you.
