h2 When will I be able to try it?
p. It's early days and Novlr's not ready for trying yet. But sign up now and we'll get you on the free beta as soon it's ready.

h2 How much will Novlr cost?
p. Once Novlr is up and running, we forsee it having a £5 a month subscription fee. 

h2 What will I get for that £5 a month?
p. For that you get the best place to write your novel and all of the <a href="/features"> features we're going to build</a>.

h2 What about paying annually?
p. At the moment we imagine there will be an annual discount. Not sure what that will be yet.

h2 Will I be locked in? Will it be easy to cancel?
p. We aren't in the business of tricking you in to paying for things you don't want. You will be able cancel at any point...and if we can get it to work, we may look at being able to pause your account for a while. 

h2 I have more questions
p. None of the above is set in stone - it's mostly just ideas for now. What we would love is for you to let us know what you think of it all. Drop us a message in the footer.