html
	head
		include includes/head
		
	body
	.fullimagewrap404
		include includes/header		
		.container
			.wrapper
				.intro-box
					h2 Hello. I'm sorry you've tried to got to a page that doesn't exist, which is a shame because the right page is very pretty and has lots of shiny things on it. Please try <a href="http://novlr.org">the Novlr homepage</a> or one of the menu links above. I'm sure you'll find the right page quickly as we've only got about three pages.
		
	footer
		.socmedia
			a(href="https://plus.google.com/111202096464040188835"): img(src="/images/google+.png", target="blank", title="Follow Novlr on Google+")
		.socmediafacebook
			a(href="http://facebook.com/novlr"): img(src="/images/facebook.png", target="blank", title="Follow Novlr on Facebook")
		.socmediatwitter
			a(href="http://twitter.com/mynovlr"): img(src="/images/twitter.png", target="blank", title="Follow Novlr on Twitter")
		p Novlr gives novel writers no more excuses