doctype html
html
	head
		include includes/head
	body
	.fullimagewraphome
		include includes/header
		.container.main
			.wrapper
				.intro-box
					h1 #{subheading}
					h2 Novlr is the best place to write your novel.
					a.button(href="/blog") Tell me more
		footer
			.socmedia
				a(href="https://plus.google.com/111202096464040188835"): img(src="/images/google+.png", target="blank", title="Follow Novlr on Google+")
			.socmediafacebook
				a(href="http://facebook.com/novlr"): img(src="/images/facebook.png", target="blank", title="Follow Novlr on Facebook")
			.socmediatwitter
				a(href="http://twitter.com/mynovlr"): img(src="/images/twitter.png", target="blank", title="Follow Novlr on Twitter")