html
	head
		include includes/head
		
	if(path==='/about')
		.fullimagewrapabout
			include includes/header
			h1 #{h1}
			a(href='/blog'): .tryit Find out more
	else if(path==='/features')
		.fullimagewrapfeatures
			include includes/header
			h1 #{h1}
			a(href='/blog'): .tryit Find out more
	else if(path==='/pricing')
		.fullimagewrappricing
			include includes/header
			h1 #{h1}
			a(href='/blog'): .tryit Find out more
	else
		.fullimagewrap
			include includes/header
	body
		.container
			.wrapper
				if(path==='/about') 
					include includes/about.jade
				else if(path==='/features') 
					include includes/features.jade
				else if(path==='/pricing') 
					include includes/pricing.jade

		footer
			.socmedia
				a(href="https://plus.google.com/111202096464040188835"): img(src="/images/google+.png", target="blank", title="Follow Novlr on Google+")
			.socmediafacebook
				a(href="http://facebook.com/novlr"): img(src="/images/facebook.png", target="blank", title="Follow Novlr on Facebook")
			.socmediatwitter
				a(href="http://twitter.com/mynovlr"): img(src="/images/twitter.png", target="blank", title="Follow Novlr on Twitter")
			p Novlr gives novel writers no more excuses