html
	head
		include includes/head
		
	if(path==='/about')
		.fullimagewrapabout
			include includes/header
			h1 #{h1}
	else if(path==='/features')
		.fullimagewrapfeatures
			include includes/header
			h1 #{h1}
	else if(path==='/pricing')
		.fullimagewrappricing
			include includes/header
			h1 #{h1}
	else
		.fullimagewrap
			include includes/header
	body		
		.container
			.wrapper
				if(path==='/about') 
					include includes/about.jade
				else if(path==='/features') 
					include includes/features.jade
				else if(path==='/pricing') 
					include includes/pricing.jade

		footer
			p Novlr gives novel writers no more excuses