doctype html
html
	head
		include includes/head
	body
		include includes/header
		.container.main
			.wrapper
				.intro-box
					h1 #{subheading}
					a.button(href="/signup") Tell me more

		footer
			p Novlr: Giving Novel writers no more excuses